.messages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: -1;
   
}

.new-message{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 20px;
    @include media-q('small sc'){
        width: 90%;
        background-color: $color-text-bg;
        padding: 10px;
    }
}
.new-message{
    padding: 10px 20px
}

.date-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    @include media-q('small sc'){
        margin-bottom: 25px;
    }
}

.label-color{
    width: 10px;
    height: 10px;
    border-radius: 30px;
    margin-right: 10px;
}



.message-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $color-text-bg;
    padding: 20px;
    @include media-q('small sc'){
        padding: 0;
    }
}

.title{
    margin-bottom: 10px;
}

.message {
    width: 100%;
}
