$color-main: #bfabc7;
$color-secondary: #dba3b2;
$color-text-bg: #999999;

$color-overlay: rgba(172,174,176, .7);
$color-modal-main: #4a5054;
$color-modal-secondary: #575d61;

$color-white: #ffffff;
$color-black: #000;



$style-colors:(
    "color-1": #8ba5ff ,
    "color-2": #a28bff,
    "color-3": #c58bff,
    "color-4": #e88bff,
    "color-5": #ff8bb5,
    "color-6": #ff8b8b,
    "color-7": #ffa78b,
    "color-8": #ffbc8b,
    "color-9": #ffd18b,
    "color-10": #fff38b,
    "color-11": #b7ff8b,
    "color-12": #8bffa5,
    "color-13": #8bfff1,
    "color-14": #8bc7ff,
    "color-15": #ffffff,
    "color-16": #bcbcbc,
    "color-17": #868686,
    "color-18": #585858
);