$color-main: #bfabc7;
$color-secondary: #dba3b2;
$color-text-bg: #ededed;
$color-input-bg: #f7f7f7;

$color-overlay: rgba(172,174,176, .7);
$color-modal-main: #4a5054;
$color-modal-secondary: #575d61;

$color-white: #ffffff;
$color-black: #000;



